.search-form {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 36px;
    gap: 8px;
    margin-bottom: 32px;
  }
  
  .search-input {
    width: 272px;
    height: 40px;
    border-radius: 4px;
    border: 1px solid #808080;
    color: #808080;
    padding-left: 16px;
    font-family: Montserrat;
    font-size: 16px;
    letter-spacing: 0.04em;
  }
  
  .search-input:hover {
    border: 1px solid #000000;
  }
  
  .search-input:focus::placeholder {
    opacity: 0;
  }
  
  .search-btn {
    width: 91px;
    height: 40px;
    border-radius: 8px;
    background-color: #4E75FF;
    border: none;
    color: #ffffff;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.04em;
  }
  
  .search-btn:hover {
    background-color: #6C8CFF;
  }