.gallery {
    width: 1128px;
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
    margin-bottom: 32px;
  }
  
  .gallery-item {
    width: calc((100% - 48px) / 3);
    border: 1px solid #808080;
  }
  
  .gallery-image {
    width: 360px;
    height: 200px;
  }
  
  .image-descr {
    display: flex;
    justify-content: space-between;
    padding: 4px 20px;
  }
  
  .descr-box {
    text-align: center;
  }
  
  .image-feature {
    color: #2E2F42;
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: 0.04em;
  }
  
  .image-data {
    color: #2E2F42;
    font-family: Montserrat;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
  }